// Colors
$main-font-color: #000;
$hero-font-color: #fff;
$hover-font-color: #fff;
$background-color: #f7d36e;
$nav-bg-color: #fff;
$btn-bg-color: #fff;
$btn-border-color: #fff;
$body-bg-color: #fff;

//gutter/Sizing
$gutter-sm: 10px;
$gutter-default: 20px;
$gutter-large: 50px;
$gutter-xl: 100px;
$margin-sm: 5px;
$margin-med: 10px;
$margin-large: 30px;
